main{
    display: flex;
}
.sec1{
    flex: 1;
}
.sec2{
    flex: 1;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 220, 220);
    margin-left: 10px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
.sec2 h3{
    /* flex: 1;
    margin-top: -30px;
    display: flex;
    flex-direction: column; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* margin-top: -; */
    /* margin-left: 30px; */
    text-align: center;
    
}


header{
    background-color: #2a354b;
    color: white;
    height: 150px;
    
}
header .texte{
    padding-right: 50px;
    padding-top: 20px;
}
.profil{
    color: #2a354b;
    background-color: gainsboro;
    border-top-right-radius: 20px; border-bottom-right-radius: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 20px 0px 20px 0px;
}
.profil .icon{
    margin-right: 5px;
}
.sec2 h3{
    
    color: #2a354b;
}
.image{
    width: 200px ;height: auto ;
    justify-content: center;
    border-radius: 20px;
    margin-top: -80px;

}
.photo{
    text-align: center;
}
.icon{
    width: 25px;height: auto;
    /* margin-right: 10px; */
    margin-left: 20px;
}
/* .profil {
    text-align: CENTER;
} */

.ctn ul{
    list-style-type: none;
}
.ctn ul li .ic{
    margin-right: 10px;
}
.ctn{
    margin-left: 50px;
}
.compt{
    margin-left: 50px;
}
@media screen and (max-width: 500px) {
    .main{
        display: block;
    }
    header{
        height: 200px;
        width: 100%;
    }
}
@media screen and (min-width: 300px) {
    
}